@import url(https://fonts.googleapis.com/css?family=Pacifico);
h1{
    text-align:center;
}
body{
    background-color:black;
}
div{ 
    border-radius: 15px;
    background-color: white;
    padding: 30px;    
}
  
input[type=text],textarea,select,input[type=date],input[type=email]{
display:inline-block;
height:50px;
width: 100%;
margin: 2px 0 20px 0;
border: none;
background: #f1f1f1;
}
input[type=radio],input[type=checkbox]
{
 
    background: #f1f1f1;
    margin: 2px 0 20px 0; 
}
table,tr,th,td{
    border-collapse: collapse;
    width:100%;
    padding: 10px;
    margin: 2px 0 20px 0;
    border:1px solid black;
}
td{
    background: #f1f1f1;
    text-align: center;
}
button{
    background-color: black;
    color:white;
    padding: 15px 10px;
    border: none;  
    width: 30%;   
}
    .rainbow-text {
            font-family: 'Pacifico';
     background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
     -webkit-background-clip: text;
     color:transparent;

          }
          @media screen and (min-width: 320px) {
          
          }